# Ignora dependencias que se instalan dentro del contenedor
node_modules
vendor

# Archivos temporales y logs
*.log
.env.backup
.env.local
.env.example
.DS_Store
*.swp

# Archivos de sistema o IDEs
.vscode
.idea
*.iml

# Git
.git
.gitignore
