# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
/.env
/.env.*.backup
Homestead.json
Homestead.yaml

# Laravel IDE helpers
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php

# Cache & Logs
/storage/*.log
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/logs/*

# Composer & npm
composer.lock
package-lock.json
npm-debug.log
yarn-error.log

# Build
/public/hot
/public/storage
/public/mix-manifest.json
/public/build
/build

# Public JS/CSS (compilados por Laravel Mix)
# Ignorar todos los js y css GENERADOS
/public/js/*
/public/css/*

# Pero permitir plugins JS que no cambian
!public/js/plugins/
!public/js/plugins/**

# dotenv files
.env.*
!.env.example

# Editor & System
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.DS_Store
*.swp
Thumbs.db

# Docker
docker-compose.override.yml
.docker/

# SSH keys
